auth_enabled: false

server:
  http_listen_port: 3100

limits_config:
  retention_bytes: 1073741824
  retention_period: 7d
  max_entries_limit_per_query: 5000

schema_config:
  configs:
  - from: 2023-01-01
    store: boltdb-shipper
    object_store: filesystem
    schema: v11
    index:
      prefix: index_
      period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /tmp/loki/index
    cache_location: /tmp/loki/cache
    shared_store: filesystem

  filesystem:
    directory: /tmp/loki/chunks

